/* Подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__title {
  display: flex;
  @include font(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
}
.footer-other {
  display: flex;
  align-items: baseline;
}
.adress-other {
  margin-right: 70px;
}

.footer-social-list {
  display: flex;
}
.footer-social-list__item {
  width: 44px;
  height: 44px;
  & + & {
    margin-left: 10px;
  }
}
.footer-social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.footer-social-list__icon {
  fill: currentColor;
}

.second-form {
  display: block;
  margin-left: 93px;
}

.form__title {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin: 0;
  margin-bottom: 20px;
}

.form__comment {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  padding: 15px 16px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}
.form__button {
  margin-left: 12px;
  margin-right: auto;
  @include font(16px, 1.9, 0.06em, 700);
  text-align: center;
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.form__icon {
  margin-left: 10px;
  fill: var(--primary-bg-color);
  align-items: center;
  justify-content: center;
}
