/* Page header */
.page-header {
  border-bottom: 1px solid #ececec;
}
/* Main nav */
.main-nav {
  @extend %align-list;
}
/* site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.site-nav__link.current {
  color: var(--accent-color);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
/* auth nav */
.auth-nav {
  margin-left: auto;
  display: flex;
}
.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav__link {
  @extend %align-list;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.auth-nav__icon {
  fill: currentColor;
  margin-right: 10px;
}
.auth-nav__link.current {
  color: var(--accent-color);
}
