/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}
.second {
  background-color: var(--secondary-bg-color);
}
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__button {
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  text-align: center;
  font-family: inherit;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
